 

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    width:100%;
    height:100%;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ff4fd8,#7b2cbf,#000);
    color:#48cae4;
}

/* ===== BANNER ===== */
header{
    position:relative;
    width:100%;
    height:60vh; /* un poco más grande */
    max-height:350px; /* altura máxima más grande */
    min-height:220px; /* altura mínima más grande */
    overflow:hidden;
    border-bottom:6px solid #ff4fd8;
}

.header-text h1{
    color:#ff4fd8;
    text-shadow:2px 2px 5px black; /* Sombra menos intensa */
    font-size:27px; /* Ajusta tamaño de título */
    margin-bottom:5px;
}

.header-text p{
    color:#48cae4;
    font-size:14px; /* Subtítulo más pequeño */
}

.header-text{
    position:relative;
    z-index:2;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.55);
    text-align:center;
    padding-top:70px;
}

.header-text h1{
    color:#ff4fd8;
    text-shadow:3px 3px 6px black;
}

.header-text p{
    color:#48cae4;
    font-size:18px;
}

/* ===== MENÚ ===== */
nav{
    background:black;
    padding:15px;
    text-align:center;
}

nav a{
    color:#48cae4;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ff4fd8;
}

/* ===== CONTENIDO ===== */
section{
    background:#1a1a1a;
    margin:20px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 12px #ff4fd8;
}

h2{
    color:#ff4fd8;
    margin-bottom:10px;
}

img, video{
    width:400px;
    border-radius:20px;
    margin:10px;
}

/* ===== PIE DE PÁGINA ===== */
footer{
    background:black;
    color:#48cae4;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
